* {
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(117, 113, 124, 0.5)
    ),
    url(../images/Farmer.jpeg);
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul {
  margin-top: 25px;
  list-style-type: none;
  float: right;
  margin-bottom: 20px;
}

ul li {
  display: inline-block;
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: #38d39f;
  color: black;
}

ul li.login a {
  background-color: #38d39f;
  color: #000;
}

.main {
  max-width: 1500px;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width : 600px)
{

  .title {
  position: absolute;
  top: 30%;
  left:50%;
  transform: translate(-40%, -50%);
}
  .title h1 {
  color: #38d39f;
  font-size: 5px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;

}

.title p {
  color: #fff;
  font-size: 10px;
  text-align: center;
}

ul {
  margin-bottom: 25px;
  list-style-type: none;
  float: right;
}

}

.title h1 {
  color: #38d39f;
  font-size: 1.4rem;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.title p {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

section h1 {
  padding: 3% 15px 7px 15px;
  text-align: center;
  font-size: 50px;
}

section p {
  padding: 10px 10px 20px 15px;
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

.about1 {
  background-image: url(../images/about.png);
  height: 100vh;
  color: #fff;
  background-attachment: fixed;
  background-position: center;
}
